:root{
    --font-first-per: 'Poppins', sans-serif;
    --font-secong-heading: 'Open Sans', sans-serif;
    --quote-font: 'Playfair Display', serif;
    --color-white: #ffffff;
    --color-white-01: #D9DBE1;
    --color-white-02: #E5E5E5;
    --color-white-03: #D6D6D6;
    --color-white-type-01: #ced4da;
    --grey-01: #4F506C;
    --grey-02: #3e3f53;
    --grey-03: #26262F;
    --grey-04: #555555;
    --grey-05: #868686;
    --grey-06: #989898;
    --color-white-type-02: #707070;
    --color-white-op-03: rgb(255 255 255 / 30%);
    --color-white-op-06: rgb(255 255 255 / 60%);
    --color-border-01: #FFFFFF4B;
    --color-blue-01: #36374D;
    --color-pink: #EF6D58;
    --color-pink-shade-01: #964537;
    --color-pink-shade-02: #78372C;
    --color-pink-shade-03: #EF6C57;
    --color-yellow: #F7CC47;
    --color-yellow-02: #F6D021;
    --color-pink-bg: #FDF0E9;
    --color-pink-border: #F3D1BF;
    --color-light-yellow: #fef9f6;
    --color-nevy-blue-01: #28293E;
    --color-nevy-blue-02: #252F36;
    --color-nevy-blue-op-59: rgb(40 41 62 / 59%);
    --color-trangle: #f9e5da;
    --btn-hover-bg: #d2523f;
    --black: rgb(0 0 0 / 100%);
    --black-type-01: rgba(111, 112, 126, 0);
    --black-type-02-op-07: rgb(41 41 42 / 7%);
    --black-15: rgb(0 0 0 / 15%);
    --black-60: rgb(0 0 0 / 60%);
    --blue: #2178FF;
    --blue-01: #0062FF;
    counter-reset: tabCont;
}